<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<title>custom login page !!!</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
<!-- 

<link rel="stylesheet" th:href="@{/css/main.css}" type="text/css" />
<style th:inline="css">
body {
	padding-top: 5rem;
	background-color: blue;
}
</style>
 -->
</head>
<body>
	<h1>Login page</h1>
	<p th:if="${loginError}" class="error">Wrong user or password</p>
	<div th:if="${param.error}" class="alert alert-danger">Invalid
		username and password.</div>

	<form th:action="@{/login}" method="post">
		<label for="username">Username</label>: <input type="text"
			id="username" name="username" autofocus="autofocus" /> <br /> <label
			for="password">Password</label>: <input type="password" id="password"
			name="password" /> <br /> <input type="submit" value="Log in" />
	</form>
</body>
</html>